::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
    font-style: normal;
}

.maker_search {
    width: 100%;
    position: absolute;
    height: 45px;
    align-content: center;
}

.maker_search fieldset{
    border:none;
    padding:0;
    margin:0;
    position:static;
}

.maker_search .inp{
    float: left;
    text-align: center;
    cursor: text;
    background: #555;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.maker_search .inp input{
    background: transparent;
    width: 300px;
    margin: 0;
    text-align: left;
    height: 30px;
    padding-left: 10px;
    color: #FFFFFF;
    outline: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border: 0px solid rgb(178, 178, 178);
}

.maker_search .inp-btn{
    position: absolute;
    margin-left: 270px;
    margin-top: 5px;
    width: 37px;
    height: 30px;
    zoom: 1;
    overflow: hidden;
}

.maker_search .inp-btn input{
    width: 100%;
    height: 100%;
    padding: 0px 0 0 0;
    border: 0px solid ;
    overflow: hidden;
    background: url('../graphics/movieInfo/sch2.png') no-repeat ;
    color: transparent;
    cursor: pointer;
}

.maker_search .inp-btn input:hover{
    width: 100%;
    height: 100%;
    padding: 0px 0 0 0;
    border: 0px solid ;
    overflow: hidden;
    background: url('../graphics/movieInfo/sch1.png') no-repeat ;
    color: transparent;
    cursor: pointer;
}
.maker_search .autocompleter{
    font-size: 15px;
    background-color: rgba(85, 85, 85, 0);
    border-radius: 5px;
    width: 100%;
    right: 10%;
    float: right;
    color: white;
    top: 30px;
}
.maker_search .autocompleter .autocompleter-item{
    color: white;
}
.maker_search .autocompleter-list{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #555555;
    float: right;
    text-align: left;
    width: 300px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}
.all{
    width: 90%;
    margin: 160px auto;
}
.aside{
    width: 25%;
    position: fixed;
    max-width: 360px;
    margin-top: 0;
    right: 8%;
}
.search{
    width: 70%;
}
.nationality, .genre, .nav-forecast {
    position: relative;
    width: 90%;
    /*min-width: 900px;*/
    height: auto;
    margin: 50px auto 40px auto;
    border: 1px solid #e0e0e0;
    padding: 20px 40px;
    overflow: hidden;
}


.nationality label, .genre label, .nav-forecast label {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    padding: 1px 10px;
    margin: 0 3px 5px 0;
    color: #666;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    border-radius: 2px;
    vertical-align: middle;
    color: #666;
    font-size: 14px;
    /*font-family: 'Raleway-R';*/
@src: url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.nav-forecast label {
    font-weight: bold;
}

.nav-forecast label:hover {
    cursor: auto;
}

.nationality label:hover, .genre label:hover {
    background: #eeeeee;
}

#nav-stars label, #nav-creators label{
    background: #eeeeee;
    font-weight: normal;
}

#nav-stars label:hover, #nav-creators label:hover{
    background: #5a5a5a;
    color: white;
    cursor: pointer;
}
/*为选中的流派标签*/
#nav-genres .label_nature{
    background: #ffffff;
    font-weight: normal;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
#nav-genres .label_nature:hover{
    background: #eeeeee;
    font-weight: normal;
    cursor: pointer;
}
/*已经选中的流派标签*/
#nav-genres .label_choosed{
    background: #eeeeee;
    font-weight: normal;
    cursor: pointer;
}
#nav-genres .label_choosed:hover{
    background: #5a5a5a;
    color: white;
    cursor: pointer;
}
.tag_selected {
    background: #eee;
}

.nav-forecast {
    position: relative;
    width: 100%;
    /* min-width: 900px; */
    height: auto;
    /*margin: 140px auto 40px auto;*/
    border: 1px solid #e0e0e0;
    padding: 20px 40px;
    overflow: hidden;
}

.nav-btn {
    margin-top: 30px;
}

.nav-btn label {
    background: #eee;
    font-weight: bold;
    margin-right: 30px;
}

.nav-btn label:hover {
    background: #00B5B5;
    color: white;
    cursor: pointer;
}

.nav-stars label, .nav-creators label {
    cursor: pointer;
    background: #eee;
}

.nav-stars label:hover, .nav-creators label:hover {
    /*cursor: pointer;*/
    background: #5a5a5a;
    color: white;
}
.nav-stars span, .nav-creators span {
    cursor: pointer;
    background: url("/graphics/movieInfo/minus.png") no-repeat;
}

.nationality, .genre {
    margin-top: 30px;
}

/** 排序方式css
===================================*/
.sortWay {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    width: 90%;
    /*min-width: 900px;*/
    height: 34px;
    margin: 0 auto;

}

.sortWay .sortWay_hint {
    color: #999999;
}

.checkbox_item {
    position: relative;
    margin-left: 12px;
}

.sortWay a:hover, .sortWay a:active {
    text-decoration: none;
    color: #00B5B5;
}

.search_checkbox {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 1px;
    border: 1px solid #ccc;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 1px;
}

.search_checkbox_inner {
    position: absolute;
    display: none;
    width: 9px;
    height: 9px;
    background-color: #00B5B5;
    top: 1px;
    left: 1px;
}

.checkbox_inline {
    cursor: pointer;
    color: #666666;
    display: inline-block;
    vertical-align: middle;
}

.checkbox_inline:hover, .checkbox_inline:active {
    color: #00B5B5;
}

.maker_container {
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    width: 95%;
    /*min-width: 900px;*/
    height: auto;
}

.maker_container .maker_wrapper {
    position: relative;
    display: inline-block; /* 设置为内联元素 */
    zoom: 1;
    width: 100px;
    height: 196px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.maker_container img {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    vertical-align: middle;
}

.info {
    width: 100px;
    height: auto;
    margin: 0 auto;
    font-size: 10px;
    font-weight: bold;
    padding-top: 5px;
    overflow: hidden;
    height: 4em;
    text-overflow: ellipsis;
    position: relative;
}

.info p {
    float: right;
    height: 30px;
    float: right;
    margin: 0 0 0 0;
    font-size: 1.2em;
    font-family: 'Segoe Print';
    color: #ff7227;
}

.plus_bt {
    height: 25px;
    width: 25px;
    float: right;
    display: block;
    background: url("/graphics/movieInfo/plus.png") no-repeat;
    border: none;
    outline: none;
}

.plus_bt:hover, .plus_bt:focus, .plus_bt:active {
    background: url("/graphics/movieInfo/plus2.png") no-repeat;
    border: none;
}


.name {
    width: 70px;
    cursor: pointer;
    text-align: left;
    color: #333333;
    font-size: 1.2em;
    font-family: 'Raleway-R';
}

.name:hover {
    text-decoration: none;
    color: #00B5B5;
    font-size: 1.2em;
    font-family: 'Raleway-R';
}
/** 分页栏css
===================================*/
.M-box {
    position: relative;
    overflow: hidden;
    margin: 30px auto 60px auto;
    width: 48%;
    height: auto;
    text-align: center;
    zoom: 1;
}

.M-box:before,.M-box:after {
    content:"";
    display:table;
}
.M-box:after {
    clear:both;
    overflow:hidden;
}
.M-box span {
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #bdbdbd;
    font-size: 14px;
}
.M-box .active {
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #00B5B5;
    color: #fff;
    font-size: 14px;
    border: 1px solid #00B5B5;
}
.M-box a {
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
}
.M-box a:hover {
    color:#fff;
    background: #00B5B5;
}
/*.M-box .next,.M-box .prev,.M-box1 .next,.M-box1 .prev{*/
/*font-family: "Simsun";*/
/*font-size: 16px;*/
/*font-weight: bold;*/
/*}*/
.now,.count{
    padding:0 5px;
    color: rgb(61, 157, 179);
}
.eg img {
    max-width: 800px;
    min-height: 500px;
}
input{
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}