@font-face {
    font-family: 'Segoe Print';
    src: url("../fonts/segoe print.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face  {
    font-family: 'Raleway-R';
    src:url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /*color: #5a5a5a;*/
    width: 100%;
    height: 100%;
}

#global-nav{
    background: #ffffff;
    height: 65px;
    width: 100%;
    min-width: 900px;
    padding-left: 20px;
    padding-right: 20px;
}

.top-nav-info {
    float:right;
    margin: 20px 0 0 0;
    line-height: 28px;
}

.top-nav-info a{
    display: inline-block;
    zoom: 1;
    padding: 0 12px;
    height: 50px;
    color: #333333;
}

.top-nav-info a{
    cursor:pointer;
    text-decoration: none;
}

.top-nav-info a:hover{
    text-decoration: underline;
}

.top-nav-welcome{
    padding-left: 0px;
    padding-top: 16px;
    line-height: 20px;
}

::-webkit-input-placeholder  {
    color: rgb(190, 188, 188);
    font-style: italic;
}

.nav-search {
    width: auto;
    position: absolute;
    height: 45px;
    margin-left: 32%;
    align-content: center;
    padding: 20px 0 15px 0;
}

.nav-search fieldset{
    border:none;
    padding:0;
    margin:0;
    position:static;
}

.nav-search .inp{
    float: left;
    text-align: center;
    cursor: text;
    background: #f3f4f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.nav-search .inp input{
    background: transparent;
    width: 400px;
    margin: 0;
    text-align: left;
    height: 30px;
    padding-left: 10px;
    outline: none;
    border: 0px solid rgb(178, 178, 178);
}

.nav-search .inp-btn{
    position: absolute;
    margin-left: 400px;
    width: 37px;
    height: 30px;
    zoom: 1;
    overflow: hidden;
}

.nav-search .inp-btn input{
    width: 100%;
    height: 100%;
    padding: 0px 0 0 0;
    border: 0px solid ;
    overflow: hidden;
    background: url('../graphics/movieInfo/searchBT.png') no-repeat ;
    color: transparent;
    cursor: pointer;
}

.nav-search .inp-btn input:hover{
    width: 100%;
    height: 100%;
    padding: 0px 0 0 0;
    border: 0px solid ;
    overflow: hidden;
    background: url('../graphics/movieInfo/searchBT2.png') no-repeat ;
    color: transparent;
    cursor: pointer;
}


/** 标签栏css
===================================*/
ul, li {
    list-style: none;
    zoom: 1;
}

.tag, .nationality{
    position: relative;
    width: 90%;
    min-width: 900px;
    height: auto;
    margin: 140px auto 40px auto;
    border: 1px solid #e0e0e0;
    padding: 20px 40px;
    overflow: hidden;
}

.tag label{
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    padding: 1px 10px;
    margin: 0 3px 5px 0;
    color: #666;
    border-radius: 2px;
    vertical-align: middle;
    color: #666;
    font-size: 14px;
    font-family: 'Raleway-R';
    @src:url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.tag label:hover{
    background: #eee;
}

.tag_selected {
    background: #eee;
}

/*.tag a {*/
    /*cursor: pointer;*/
    /*color: #666;*/
    /*font-size: 14px;*/
    /*font-family: 'Raleway-R';*/
    /*@src:url('../fonts/Raleway-Regular.ttf') format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*.tag a:hover {*/
    /*text-decoration: none;*/
/*}*/


/** 排序方式css
===================================*/
.sortWay {
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    width: 90%;
    min-width: 900px;
    height: 34px;
    margin: 0 auto;

}

.sortWay .sortWay_hint{
    color: #999999;
}

.checkbox_item {
    position: relative;
    margin-left: 12px;
}

.sortWay a:hover, .sortWay a:active {
    text-decoration: none;
    color: #00B5B5;
}

.search_checkbox {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    padding: 1px;
    border: 1px solid #ccc;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 1px;
}

.search_checkbox_inner {
    position: absolute;
    display: none;
    width: 9px;
    height: 9px;
    background-color: #00B5B5;
    top: 1px;
    left: 1px;
}

.checkbox_inline {
    cursor: pointer;
    color: #666666;
    display: inline-block;
    vertical-align: middle;
}

.checkbox_inline:hover, .checkbox_inline:active {
    color: #00B5B5;
}


/** 电影css
===================================*/
.movie_container {
    position: relative;
    overflow: hidden;
    margin: 30px auto;
    width: 90%;
    min-width: 900px;
    height: auto;
}

.movie_container .movie_wrapper {
    position: relative;
    display: inline-block; /* 设置为内联元素 */
    zoom: 1;
    width: 210px;
    margin-right: 28px;
    margin-bottom: 20px;
}

.movie_container img {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    vertical-align: middle;
}

.info {
    width: 180px;
    height: auto;
    margin: 0 auto;
    padding-top: 5px;
}

.info p {
    float: right;
    height: 30px;
    float: right;
    margin: 0 0 0 0;
    font-size: 1.2em;
    font-family: 'Segoe Print';
    color: #ff7227;
}

.name {
    cursor: pointer;
    text-align: left;
    color: #333333;
    font-size: 1.2em;
    font-family: 'Raleway-R';
}

.name:hover{
    text-decoration: none;
    color: #00B5B5;
    font-size: 1.2em;
    font-family: 'Raleway-R';
}

/** 分页栏css
===================================*/
.M-box {
    position: relative;
    overflow: hidden;
    margin: 30px auto 60px auto;
    width: 48%;
    height: auto;
    text-align: center;
    zoom: 1;
}

.M-box:before,.M-box:after {
    content:"";
    display:table;
}
.M-box:after {
    clear:both;
    overflow:hidden;
}
.M-box span {
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #bdbdbd;
    font-size: 14px;
}
.M-box .active {
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #00B5B5;
    color: #fff;
    font-size: 14px;
    border: 1px solid #00B5B5;
}
.M-box a {
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
}
.M-box a:hover {
    color:#fff;
    background: #00B5B5;
}
/*.M-box .next,.M-box .prev,.M-box1 .next,.M-box1 .prev{*/
    /*font-family: "Simsun";*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
/*}*/
.now,.count{
    padding:0 5px;
    color: rgb(61, 157, 179);
}
.eg img {
    max-width: 800px;
    min-height: 500px;
}
input{
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}