@charset "utf-8";
@import url("animate-tool.css");

.regularly-box {
    height: auto;
    width: 1210px;
    position: relative;
    border: 2px solid #bbc8d5;
    margin-top: 160px;
    border-radius: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 8px;
}

.regularly-head {
    height:auto;
    line-height: 50px;
    text-align: center;
    padding: 0px 20px;
    /* border-bottom: 2px solid #7dcfd0; */
}

.regularly-head strong {
    font-size: 40px;
    color: #555555;
    font-family: 'Raleway-R';
    margin-right: 10px;
    display: inline-block;
}

.regularly-head label {
    font-size: 70px;
    color: #eee;
    font-family: 'Raleway-R';
    display: inline-block;
     margin: 20px auto;
}

.regularly-contBody {
    height: 425px;
}

.regularly-item-list {
    width: auto;
    height: 425px;
}

.regularly-item-list li {
    width: 302px;
    height: 425px;
    float: left;
    display: inline;
    position: relative;
    /*border-right: 2px solid #7dcfd0;*/
}

.regularly-item-list li.last {
    border-right: 0;
    width: 302px;
}

.regularly-item-list li:not(.last):after {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    bottom: 46px;
    right: -2px;
    background: #fff;
}

.regularly-item-list li .flip-box {
    width: 304px;
    height: 425px;
    padding: 10px;
    position: absolute;
    left: 0;
    /*border: 2px dashed #b3c2d1;;*/
    top: 0;
    background: #fff;
    overflow: hidden;
}

.regularly-item-list li.first .flip-box, .regularly-item-list li.first .flip-foot {
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

.regularly-item-list li.last .flip-box {
    width: 382px;
}

.regularly-item-list li.last .flip-box, .regularly-item-list li.last .flip-foot {
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px 0px 5px 0px;
    border-radius: 0px 0px 5px 0px;
}

.regularly-item-list li .item-title {
    width: 260px;
    height: 68px;
    line-height: 68px;
    background: #34495e;
    color: #fff;
    font-size: 28px;
    margin: 10px auto;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 3px #c8c8c8;
    -moz-box-shadow: 0 2px 3px #c8c8c8;
    -webkit-box-shadow: 0 2px 3px #c8c8c8;
    text-shadow: 0 2px 3px #b3c2d1;;
    -moz-text-shadow: 0 2px 3px #b3c2d1;;
    -webkit-text-shadow: 0 2px 3px #b3c2d1;;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.regularly-item-list li .item-tx {
    width: 260px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-indent: 38px;
    font-size: 20px;
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.regularly-item-list li .item-tx label {
    color: #dea23b;
    font-size: 26px;
}

.regularly-item-list li .flip-item-pic {
    width: 260px;
    /*height: 150px;*/
    overflow: hidden;
    margin: 10px auto;
    text-align: center;
}

.regularly-item-list li .flip-item-pic img {
    max-width: 50%;
    max-height: 100%;
    vertical-align: middle;
}

.regularly-item-list li .flip-foot {
    width: 320px;
    height: 46px;
    line-height: 46px;
    position: absolute;
    padding: 0 10px;
    left: -10px;
    bottom: -0px;
    /* right: -10px; */
    color: #fff;
    text-align: center;
    font-size: 18px;
    background: #34495e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.regularly-item-list li .flip-lists {
    width: auto;
    display: block;
    height: 100%;
    overflow: hidden;
}

.regularly-item-list li .flip-lists dd {
    height: 108px;
    padding: 10px;
    border: 1px solid #7dcfd0;
    margin-bottom: 7px;
    position: relative;
}

.regularly-item-list li .flip-lists dd h3 {
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    color: #646464;
    text-indent: 24px;
}

.regularly-item-list li .flip-lists dd .flip-itmes-info,
.regularly-item-list li .flip-lists dd .flip-itmes-ctrl {
    height: 32px;
    line-height: 32px;
    color: #969696;
    position: relative;
}

.regularly-item-list li .flip-lists dd .flip-itmes-info strong {
    display: inline-block;
    width: 90px;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    color: #3d9db3;
}

.regularly-item-list li .flip-lists dd .flip-itmes-info .to-day {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
    min-width: 32px;
    max-width: 80px;
    padding: 0 10px;
    background: #e5e5e5;
    font-size: 14px;
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.regularly-item-list li .flip-lists dd .flip-itmes-info .to-day em {
    font-style: normal;
    font-size: 18px;
}

.regularly-item-list li .flip-lists dd .flip-itmes-info .to-price {
    width: auto;
    max-width: 160px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 0px;
    top: 0;
    color: #969696;
    text-align: right;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.regularly-item-list li .flip-lists dd .flip-itmes-info .to-price label {
    display: inline-block;
    font-size: 18px;
}

.regularly-item-list li .flip-lists dd .flip-itmes-ctrl {
    margin-top: 5px;
    font-size: 14px;
}

.regularly-item-list li .flip-lists dd .progress-info {
    width: 200px;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.regularly-item-list li .flip-lists dd .itmes-progress {
    width: 85px;
    height: 8px;
    background: #e5e5e5;
    position: relative;
    margin: 0 10px;
    margin-top: 12px;
    overflow: hidden;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.regularly-item-list li .flip-lists dd .itmes-progress > span {
    width: 0;
    display: block;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #34495e;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.regularly-item-list li .flip-lists dd .ctrl-btn {
    width: 104px;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    border: 2px solid;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.regularly-item-list li .flip-lists dd a.ctrl-btn {
    border-color: #ff7e00;
    background: #ff7e00;
    color: #fff;
}

.regularly-item-list li .flip-lists dd span.ctrl-btn {
    border-color: #969696;
    background: #fff;
    color: #969696;
    cursor: default;
}

.regularly-item-list li .flip-lists dd .hot {
    width: 46px;
    height: 49px;
    display: block;
    position: absolute;
    /*background: url(../images/news-hot.png) no-repeat 0px 0px;*/
    top: -1px;
    left: -1px;
    z-index: 99;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

